<!DOCTYPE html>
<html ng-app="app" ng-controller="BodyController">
<head>
  <base href="/">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{Page.getTitle()}}</title>
  <link rel="icon" type="image/png" href="favicon.png"/>
  <link href="./assets/stylesheets/bootstrap.min.css" rel="stylesheet">
  <link href="./assets/stylesheets/bootstrap-social.css" rel="stylesheet">
  <link href="./assets/stylesheets/font-awesome.css" rel="stylesheet">
  <link href="./assets/stylesheets/style.css" rel="stylesheet">
</head>
<body>
  <!-- Start of Header -->
  <header class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation" ng-controller="MenuBarController">
    <menubar-logged-out ng-if="loggedIn == false"></menubar-logged-out>
    <menubar-logged-in ng-if="loggedIn == true"></menubar-logged-in>
  </header>
  
  <main ng-view>
        <!-- Content Loaded Here -->
  </main>

  <footer>
  </footer>

  <script src="/assets/libs/jquery.min.js"></script>
  <script src="/assets/libs/bootstrap.min.js"></script>
  <script src="/assets/libs/angular.js"></script>
  <script src="/assets/libs/angular-messages.js"></script>
  <script src="/assets/libs/angular-resource.js"></script>
  <script src="/assets/libs/angular-route.js"></script>
  <script src='//maps.googleapis.com/maps/api/js?sensor=false'></script>
  <script src="/assets/libs/lodash.js"></script>
  <script src="/assets/libs/angular-google-maps.min.js"></script>

  <!-- Angular App -->
  <script src="./dist/app.min.js"></script>
</body>
</html>