<!DOCTYPE html>
<html ng-app="app">
<head>
  <base href="/">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title data-ng-bind="title"></title>
  <link rel="icon" type="image/png" href="favicon.png"/>
  <link href="./assets/stylesheets/bootstrap.min.css" rel="stylesheet">
  <link href="./assets/stylesheets/bootstrap-social.css" rel="stylesheet">
  <link href="./assets/stylesheets/font-awesome.css" rel="stylesheet">
  <link href="./assets/stylesheets/datetimepicker.css" rel="stylesheet">
  <link href="./assets/stylesheets/style.css" rel="stylesheet">
</head>
<body>
  <header class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation" ng-controller="MenuBarController as vm">
    <menubar-logged-out ng-if="!vm.loggedIn"></menubar-logged-out>
    <menubar-logged-in ng-if="vm.loggedIn"></menubar-logged-in>
  </header>
  
  <main ng-view></main>

  <footer></footer>

  <!-- Vendor Files -->
  <script src="/assets/libs/jquery.min.js"></script>
  <script src="/assets/libs/moment.js"></script>
  <script src="/assets/libs/bootstrap.min.js"></script>
  <script src="/assets/libs/angular.js"></script>
  <script src="/assets/libs/angular-resource.js"></script>
  <script src="/assets/libs/angular-route.js"></script>
  <script src="/assets/libs/angular-sanitize.js"></script>
  <script src='//maps.googleapis.com/maps/api/js?key=AIzaSyDmjchYXf3-iJaxbIrFR7xKMtjdmbw265Q'></script>
  <script src="/assets/libs/lodash.js"></script>
  <script src="/assets/libs/angular-google-maps.min.js"></script>
  <script src="/assets/libs/datetimepicker.js"></script>

  <!-- Angular App -->
  <script src="./dist/app.min.js"></script>
</body>
</html>