<h2>{{vm.group.name}}</h2>
<p>
	Interest: {{vm.group.interest}}</br>
	Date Created: {{vm.group.date_created | date:'dd/MM/yyyy'}}</br>
	Description: {{vm.group.description}}</br>
	Owner: {{vm.group.owner.name}}
</p>
<p>
	<button ng-click="vm.joinButton()" class="btn btn-primary">Join</button>
	<button ng-click="vm.leaveButton()" class="btn btn-warning">Leave</button>
	<button ng-click="vm.editButton()" class="btn btn-info">Edit</button>
	<button ng-click="vm.deleteButton()" class="btn btn-danger">Delete</button>
</p>
		
<h3>Users</h3>
<li ng-show="!vm.group.members.length">No Members at the moment.</li>
<div ng-repeat="member in vm.group.members">
	<a href="./#/user/{{member._id}}">{{member.name}}</a>
</div>
		
<h3>Map</h3>
<ui-gmap-google-map center='vm.map.center' zoom='vm.map.zoom'>
	<ui-gmap-marker
		idKey='vm.groupMarker.id'
		icon='vm.groupMarker.options.icon'
		options='vm.groupMarker.options'
		coords='vm.groupMarker.coords'>
	</ui-gmap-marker>

	<ui-gmap-marker
		data-ng-repeat="marker in vm.memberMarkerList"
		idKey="marker.id"
		options="marker.options"
		coords="marker.coords">
	</ui-gmap-marker>
</ui-gmap-google-map>

<h3>Events</h3>
<li ng-show="!vm.group.events.length">None at the moment.</li>
<li ng-show="vm.group.events.length" ng-repeat="event in vm.group.events | orderBy:'date'">
	<event-details></event-details>
</li>

<event-create></event-create>