<div class="container">
	<h2>What's On!</h2>
	<p>
		Find out what's going on near you today! By default the site uses your saved location,
		or you can click the button and search based on your current location! This feature works best with mobile devices.
	</p>
	<button class="btn btn-primary" ng-click="vm.currentLocationEvents()">Use Current Location</button>
	<button class="btn btn-success" ng-click="vm.resetLocation()">Reset Location</button>
	
	<div ng-show="vm.noEvents">
		<h3>No Results</h3>
		<p>Sorry! Nothing is going on in your area today!</p>	
	</div>

	<div ng-show="!vm.noEvents">
		<h2>Events</h2>
		<div ng-repeat="result in vm.results | orderBy: 'dis'">
			<h4>{{result.obj.name}} | {{result.obj.interest}} | {{result.dis | number : 0}}m</h4>
			<p ng-repeat="event in result.obj.events | orderBy: 'date'">
				Title: {{event.name}}<br />
				Date: {{event.date | date: 'medium'}}<br />
				Description: {{event.description}}<br />
			</p>
		</div>
	</div>

	<event-map></event-map>
</div>