<div class="container">
	<h2>{{user.username}}</h2>
	<form class="form" method="post" ng-submit="editUser()">
		<div>
			<label>Name:</label>
			<input type="text" name="name" ng-model="user.name"/>
		</div>
		<div>
			<label>Password:</label>
			<input type="password" name="password" ng-model="user.password"/>
		</div>
		<div>
			<label>Email:</label>
			<input type="text" name="email" ng-model="user.email"/>
		</div>
		<div>
			<label>Private</label>
			<input type="checkbox" name="private" ng-model="user.private">
		</div>
		<div>
			 <button class="btn btn-primary" type="submit">Save</button>
		</div>
	</form>

	<h2>Interests</h2>
	<li ng-if="!user.activities.length">No interests.</li>
	<li ng-repeat="interest in user.activities">{{interest}} - <a href="" ng-click="removeInterest(interest)" class="glyphicon glyphicon-trash"></a></li>
	<button class="btn btn-primary" ng-click="addInterest()">Add</button>

	<h2>Groups</h2>
	<li ng-if="!user.groups.length">No Groups at the moment.</li>
	<div ng-repeat="group in user.groups">
		<a href="./#/groups/{{group._id}}">{{group.name}}</a>
	</div>

	<h2>Address Book</h2>
	<div>
		{{user.address.street}} <br />
		{{user.address.city}} <br />
		{{user.address.country}} <br />
		{{user.address.post_code}} <br />
	</div>

	<address-book></address-book>

	<h2>Matchmaking Groups</h2>
	<li ng-if="!match.length">Not Matchmaking</li>
	<div ng-repeat="m in match">
		{{m.interest}} since {{m.date_added | date: 'short'}} - <a href="" ng-click="deleteMatch(m._id)">Stop Matchmaking</a>
	</div>

	<h2>Social Media</h2>
	<p>CONNECT SOCIAL MEDIAS HERE</p>
</div>