<div class="container-fluid">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
    <span class="sr-only">Toggle Navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    </button>
    <a href="./#/" class="navbar-brand">FindAGroupFor.me</a>
  </div>

  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
      <li><a ng-href="#/settings">Settings</a></li>
      <li><a ng-href="#/whatson">What's On!</a></li>
      <li><a ng-href="#/messages">Messages ({{numberOfMessages}})</a></li>
      <li><a ng-href="#/user">Users</a></li>
      <li><a ng-href="#/groups">Groups</a></li>
      <li><a ng-href="#/about">About</a></li>
      <li><a ng-href="#/logout">Logout [{{loggedInUser.username}}]</a></li>
    </ul>ng-
  </div>
</div>