<div class="container">
  <h2 id="title">Groups</h2>
  <p>Find groups for a specific interest!</p>
  <form class="form" method="post" ng-submit="vm.findInterest()">
    <div class="form-group">
      <label>Interest</label>
      <input type="text" name="name" ng-model="vm.interest" class="form-control"/>
    </div>
    <button class="btn btn-block btn-success" ng-disabled="!vm.interest" type="submit">Find Groups</button>
  </form>
  </br>

  <div>
    <ui-gmap-google-map center='vm.map.center' zoom='vm.map.zoom'>
      <ui-gmap-marker
        idKey='vm.userMarker.id'
        icon='vm.userMarker.options.icon'
        options='vm.userMarker.options'
        events='vm.userMarker.events'
        coords='vm.userMarker.coords'>
      </ui-gmap-marker>
      <ui-gmap-marker
        data-ng-repeat="marker in vm.groupMarkerList"
        idKey="marker.id"
        options="marker.options"
        click="marker.options.link"
        coords="marker.coords">
      </ui-gmap-marker>
    </ui-gmap-google-map>
  </div>

  <h3>Results</h3>
  <p ng-show="vm.groups.length === 0">No results. Create a Group, or use the Group Matchmaking!</p>
  <div ng-repeat="group in vm.groups">
    <a href="./#/groups/{{group._id}}">{{group.name}} - {{group.interest}}</a></br>
  </div>
  <p>
    </br>
    <a href="./#/group/create" class="btn btn-block btn-primary">
      Create A Group
    </a>
    <a href="./#/matchmaking" class="btn btn-block btn-success">
      Group Matchmaking!
    </a>
  </p>
</div>