<div class="container">
	<h1>Sign Up</h1>
	<form class="form" method="post" ng-submit="createUser()">
		<div class="form-group">
			<label>Username</label>
			<input type="text" name="username" ng-model="user.username" class="form-control"/>
		</div>
		<div class="form-group">
			<label>Name</label>
			<input type="text" name="name" ng-model="user.name" class="form-control"/>
		</div>
		<div class="form-group">
			<label>Password</label>
			<input type="password" name="password" ng-model="user.password" class="form-control"/>
		</div>
		<div class="form-group">
			<label>Email</label>
			<input type="text" name="email" ng-model="user.email" class="form-control"/>
		</div>
		<div class=>
			<label>Privacy: </label>
			<input type="checkbox" name="privacy" ng-model="user.privacy"/>
		</div>
		<div>
			<input type="submit" value="Register" class="btn btn-default" />
		</div>
	</form>
</div>