<div class="container">
	<h2>What's On!</h2>
	<p>
		Find out what's going on near you today! By default the site uses your saved location,
		or you can click the button and search based on your current location! This feature works best with mobile devices.
	</p>
	<button class="btn btn-primary">Use Current Location</button>

	<h2>Events</h2>
	<div ng-repeat="result in results">
		<h4>{{result.obj.name}}</h4>
		Distance: {{result.dis}}m<br />
		Interest: {{result.obj.interest}}<br />
		Event: {{result.obj.events}}
	</div>

	<h3>Map</h3>
	<ui-gmap-google-map center='map.center' zoom='map.zoom'>
		<ui-gmap-marker
			idKey='userMarker.id'
			icon='userMarker.options.icon'
			options='userMarker.options'
			events='userMarker.events'
			coords='userMarker.coords'>
		</ui-gmap-marker>

		<ui-gmap-marker
			data-ng-repeat="marker in eventMarkerList"
			idKey="marker.id"
			options="marker.options"
			coords="marker.coords">
		</ui-gmap-marker>
	</ui-gmap-google-map>
</div>