<div class="container">
	<h2>Name: {{group.name}}</h2>
	<p>
		Activity: {{group.activity}}</br>
		Date Created: {{group.date_created}}
	</p>
	<p>
		<button ng-click="editButton()" class="btn btn-info">Edit</button>
		<button ng-click="deleteButton()" class="btn btn-danger">Delete</button>
	</p>
	<h3>Users</h3>
	<li ng-show="!group.members.length">No Members at the moment.</li>
	<div ng-repeat="member in group.members">
		<a href="./#/users/{{member._id}}">{{member.name}}</a>
	</div>

	<h3>Events</h3>
	<li ng-show="!group.events.length">None at the moment.</li>
</div>