<div class="container">
	<h2>Edit Group</h2>
	<form class="form" method="post" ng-submit="editGroup()">
		<div>
			<label>Name:</label>
			<input type="text" name="name" ng-model="group.name"/>
		</div>
		<div>
			<label>Activity:</label>
			<input type="text" name="activity" ng-model="group.activity"/>
		</div>
		<!-- This needs to be handled better -->
		<div>
			<label>Venue Location (Co-Ords):</label>
			<input type="text" name="latitude" ng-model="group.venue_location[0]"/>
			<input type="text" name="longitude" ng-model="group.venue_location[1]"/>
		</div>
		<div>
			 <button class="btn btn-primary" type="submit">Add</button>
		</div>
	</form>
</div>