<h3>Create Event</h3>
<form class="form" method="post" ng-submit="addEventButton(event)">
	<div class="form-group">
		<label>Name</label>
		<input type="text" name="name" ng-model="event.name" class="form-control"/>
	</div>
	<div class="form-group">
		<label>Description</label>
		<input type="text" name="description" ng-model="event.description" class="form-control"/>
	</div>
	<div class="form-group">
		<label>Date</label>
		<input type="text" name="date" ng-model="event.date" class="form-control"/>
	</div>
	<div>
		<label>Venue Location (Co-Ords):</label>
		<input type="text" name="latitude" ng-model="event.venue_location[0]"/>
		<input type="text" name="longitude" ng-model="event.venue_location[1]"/>
	</div>
	<div>
		 <button class="btn btn-primary" type="submit">Add</button>
	</div>
</form>