<div class="container">
	<details-private group="group" ng-if="private"></details-private>
	<div ng-if="!private">
		<h2>{{group.name}}</h2>
		<p>
			Activity: {{group.activity}}</br>
			Date Created: {{group.date_created | date:'dd/MM/yyyy'}}</br>
			Description: {{group.description}}</br>
			Owner: {{group.owner}}
		</p>
		<p>
			<button ng-click="joinButton()" class="btn btn-primary">Join</button>
			<button ng-click="leaveButton()" class="btn btn-warning">Leave</button>
			<button ng-click="editButton()" class="btn btn-info">Edit</button>
			<button ng-click="deleteButton()" class="btn btn-danger">Delete</button>
			<button ng-click="addEventButton()" class="btn btn-secondary">Add Event</button>
		</p>
		
		<h3>Users</h3>
		<li ng-show="!group.members.length">No Members at the moment.</li>
		<div ng-repeat="member in group.members">
			<a href="./#/user/{{member._id}}">{{member.name}}</a>
		</div>
		
		<h3>Events</h3>
		<li ng-show="!group.events.length">None at the moment.</li>
		<li ng-show="group.events.length" ng-repeat="event in group.events | orderBy:'date'">
			{{event.name}} - {{event.description}} @ {{event.date | date: 'medium'}}
			<button ng-click="removeEventButton(event._id)" class="btn btn-secondary">
				Remove Event
			</button>
		</li>
		
		<h3>Map</h3>
		<ui-gmap-google-map center='map.center' zoom='map.zoom'>
			<ui-gmap-marker idKey='marker.id' coords='marker.coords'>
			</ui-gmap-marker>
			<ui-gmap-marker idKey='marker2.id' coords='marker2.coords'>
			</ui-gmap-marker>
		</ui-gmap-google-map>
	</div>
</div>