@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
	padding-top: 30px;
	margin: 30px 0;
	font-family: 'Open Sans', sans-serif;
}

a {
  color: #00B7FF;
}

.angular-google-map-container { 
	height: 600px;
	margin: 30px, 0px, 0px, 0px;
}